PORT=5000
DATABASE_URL=postgresql://username:password@localhost:5432/tmua_db?schema=public
JWT_SECRET=change_this_jwt_secret
STRIPE_SECRET_KEY=
CLIENT_URL=http://localhost:5173
IMGBB_API_KEY=
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!
ADMIN_VERIFY_EMAIL=admin@example.com
ADMIN_VERIFY_PASSWORD=ChangeMe123!